# 구글번역기 오류가남 NonType Error

In [1]:
# https://oopaque.tistory.com/157?category=867245

In [12]:
import pandas as pd
train = pd.read_csv('../input/data/train/train.tsv',sep='\t',header=None)

In [14]:
import json
import urllib.request

client_id = ["y_akIZE9RibL_PiO1r9g","Lpe3zIysf70wuoxXSrCs","RdG6L2sYiCkvVS24vFu1","UyDkdbTohAgWpY1K52ez","VYlqdW2KFeCHZ603nn_A","8s5vG5se6EBHXIKMlV_V","g9XGS5MiIBwRjNwu6dpu","h9deROmdJ54U2yL1UuV9"]
client_secret = ["R4sPUeW7oJ","rLvmmlJdcH","iCJ3UYqcHz","iaeo_12Upp","mytzP5uZWy","6yTFLMuZHA","eIRqrhjOfX","THe1VkzVCF"]
# client_id1 = "y_akIZE9RibL_PiO1r9g" # 개발자센터에서 발급받은 Client ID 값
# client_secret1 = "R4sPUeW7oJ" # 개발자센터에서 발급받은 Client Secret 값

In [22]:
train.iloc[0][1]

'영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다.'

In [24]:
raw_korText = "영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다."
print(raw_korText)
raw_korText = urllib.parse.quote(raw_korText)
for_ja_data = "source=ko&target=ja&text=" + raw_korText
url = "https://openapi.naver.com/v1/papago/n2mt"
request = urllib.request.Request(url)

# ID와 Secret Key 입력
request.add_header("X-Naver-Client-Id",client_id[0])
request.add_header("X-Naver-Client-Secret",client_secret[0])
response = urllib.request.urlopen(request, data=for_ja_data.encode("utf-8"))
rescode = response.getcode()

if(rescode==200):
  response_body = response.read()
  ja_text = json.loads(response_body)['message']['result']['translatedText']
  print(ja_text)
else:
  print("Error Code:" + rescode)

to_kor_data = "source=ja&target=ko&text=" + ja_text
response = urllib.request.urlopen(request, data=to_kor_data.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
  response_body = response.read()
  result_ko_text = json.loads(response_body)['message']['result']['translatedText']
  print(result_ko_text)
else:
  print("Error Code:" + rescode)
return result_ko_text

영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다.
イギリスで使われるスポーツユーティリティー自動車のブランドとしてはランドローバー(Land Rover)とジープ(Jeep)があり、これらのブランドは自動車の種類を指す言葉として使われている。
영국에서 사용되는 스포츠 유틸리티 자동차 브랜드로는 랜드로버(Land Rover)와 지프(Jeep)가 있는데, 이들 브랜드는 자동차의 종류를 가리키는 말로 사용되고 있다.

In [40]:
import json
import urllib.request

client_id = ["y_akIZE9RibL_PiO1r9g","Lpe3zIysf70wuoxXSrCs","RdG6L2sYiCkvVS24vFu1"]
client_secret = ["R4sPUeW7oJ","rLvmmlJdcH","iCJ3UYqcHz"]
url = "https://openapi.naver.com/v1/papago/n2mt"

def papago_for_new(raw_korText):  # raw_text는 string형태, source -> target 언어로 번역
  raw_korText = urllib.parse.quote(raw_korText)
  for_ja_data = "source=ko&target=ja&text=" + raw_korText
  request = urllib.request.Request(url)
  idx=0
  while True:
    try:
      # ID와 Secret Key 입력
      request.add_header("X-Naver-Client-Id",client_id[idx])
      request.add_header("X-Naver-Client-Secret",client_secret[idx])
      response = urllib.request.urlopen(request, data=for_ja_data.encode("utf-8"))
      rescode = response.getcode()

      if(rescode==200):
        response_body = response.read()
        ja_text = json.loads(response_body)['message']['result']['translatedText']
        # print(ja_text)
      else:
        print("Error Code:" + rescode)

      to_kor_data = "source=ja&target=ko&text=" + ja_text
      response = urllib.request.urlopen(request, data=to_kor_data.encode("utf-8"))
      rescode = response.getcode()
      if(rescode==200):
        response_body = response.read()
        result_ko_text = json.loads(response_body)['message']['result']['translatedText']
        # print(result_ko_text)
      else:
        print("Error Code:" + rescode)
      return result_ko_text
      break
    except:
      idx+=1
      pass

In [28]:
raw_korText = train.iloc[1][1]
result_ko_text = papago_for_new(raw_korText)
print(raw_korText==result_ko_text)

選挙で民主党は解散前の230議席をはるかに下回る57議席（地方区27議席、比例代表30議席）の獲得にとどまった。
선거에서 민주당은 해산전의 230석을 훨씬 밑도는 57석(지역구 27석, 비례대표 30석)의 획득에 머물렀다.
False

In [37]:
train.iloc[1]

0                        wikipedia-12728-224-5-7-42-44
1    선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...
2                                                  민주당
3                                                    5
4                                                    7
5                                                  27석
6                                                   42
7                                                   44
8                                                관계_없음
Name: 1, dtype: object

In [36]:
train.iloc[1][1]

'선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석, 비례대표 30석)을 획득하는 데 그쳤다.'

In [41]:
raw_korText = '선거에서 [민주당]은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 [27석], 비례대표 30석)을 획득하는 데 그쳤다.'
result_ko_text = papago_for_new(raw_korText)
print(raw_korText)
print(result_ko_text)

선거에서 [민주당]은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 [27석], 비례대표 30석)을 획득하는 데 그쳤다.
선거에서 민주당은 해산전의 230석에 훨씬 못 미치는 57석(지역구[27석], 비례대표 30석)을 얻는데 머물렀다.

In [45]:
train.iloc[:,8].value_counts()

관계_없음          4441
단체:구성원          815
인물:소속단체         679
인물:직업/직함        553
단체:상위_단체        335
단체:별칭           231
인물:출신성분/국적      209
인물:동료           186
단체:제작           165
인물:부모님          164
단체:본사_도시        136
단체:본사_국가        115
인물:별칭           103
인물:배우자           92
인물:자녀            84
단체:하위_단체         80
단체:창립일           67
인물:기타_친족         58
인물:제작            56
인물:형제/자매/남매      52
단체:창립자           45
인물:사망_일시         45
단체:모회사           44
인물:출생_일시         36
인물:거주_국가         27
인물:거주_도시         26
단체:본사_주(도)       23
단체:정치/종교성향       18
인물:종교            15
단체:해산일           15
인물:거주_주(도)       12
인물:용의자           11
단체:주주            11
단체:구성원_수          9
인물:학교             9
인물:출생_국가          8
인물:사망_원인          7
인물:나이             5
단체:자회사            5
인물:출생_도시          4
인물:사망_도시          3
인물:사망_국가          1
Name: 8, dtype: int64

6631    7월 1일에 다리우스 3세가 박트리아에서 베스에게 암살당했다.
Name: 1, dtype: object

In [56]:
raw_korText

,0,1,2,3,4,5,6,7,8
6631,wikipedia-14464-241-6-12-15-18,7월 1일 다리우스 3세가 박트리아에서 베수스에게 암살되었다.,다리우스 3세,6,12,박트리아,15,18,인물:사망_국가

In [63]:
label_name = '인물:사망_국가'
raw_korText = train.loc[train[8]==label_name,:]
result_ko_text = raw_korText.apply(lambda x: papago_for_new(x[1].replace()),axis=1)
print(raw_korText)

                                   0                                   1  \
6631  wikipedia-14464-241-6-12-15-18  7월 1일 다리우스 3세가 박트리아에서 베수스에게 암살되었다.

            2  3   4     5   6   7         8
6631  다리우스 3세  6  12  박트리아  15  18  인물:사망_국가
6631    7월 1일에 다리우스 3세가 박트리아에서 베스에게 암살당했다.
dtype: object

In [64]:
print(result_ko_text)

6631    7월 1일에 다리우스 3세가 박트리아에서 베스에게 암살당했다.
dtype: object